.promo__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  max-width: 626px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
}

@media screen and (max-width:1279px) {
  .promo__title {
    max-width: 680px;
    padding-top: 300px;
    padding-left: 0px;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width:767px) {
  .promo__title {
    max-width: 300px;
    padding-top: 180px;
    font-size: 31px;
    line-height: 39px;
    padding-left: 0px;
  }
}

