.login__input {
  min-width: 380px;
  min-height: 46px;
  background: #F9F9F9;
  border-radius: 8px;
  border: none;
  padding: 0px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding-left: 15px;
}

@media screen and (max-width:767px) {
  .login__input {
    min-width: 245px;
  }
}