.header__button-account {
  background: #F9F9F9;
  border-radius: 20px;
  min-width: 100px;
  min-height: 32px;
  border: none;
  padding: 0px;
  font-family: 'Inter', Arial, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
  opacity: 1;
  transition: 1s;
}

.header__button-account:hover {
  opacity: 0.8;
}