.burgerMenu {
  min-width: 520px;
  height: 100%;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  z-index: 50;
}

.burgerMenu_opened {
  display: inline-block;
}

@media screen and (max-width:767px){
  .burgerMenu {
    min-width: 320px;
  }
}