.card__name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 290px;
  margin-top: 16px;
}

@media screen and (max-width: 767px){
  .card__name {
    font-size: 12px;
    line-height: 15px;
  }
}
