.register__input-name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

@media screen and (max-width:767px) {
  .register__input-name {
    display: block;
    margin-bottom: 10px;
  }
}
