.profile__person {
  max-width: 411px;
  margin: 0 auto;
  margin-top: 123px;
}

@media screen and (max-width:1279px) {
  .profile__person {
    margin-top: 96px;
  }
}

@media screen and (max-width:767px) {
  .profile__person {
    margin-top: 80px;
  }
}