.about__block-time_grey {
  width: 912px;
  min-height: 36px;
  background-color: #F2F2F2;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

@media screen and (max-width: 1279px){
  .about__block-time_grey {
    width: 528px;
  }
}

@media screen and (max-width: 767px){
  .about__block-time_grey {
    width: 184px;
    font-size: 11px;
    line-height: 13px;
  }
}