.login__logo {
  margin-top: 70px;
  max-width: 38px;
  max-height: 38px;
}

@media screen and (max-width: 1279px) {
  .login__logo {
    margin-top: 232px;
  }
}

@media screen and (max-width:767px) {
  .login__logo {
    margin: 0 auto;
    margin-top: 56px;
  }
}