.profile__input-area {
  min-height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.profile__input-area:last-child {
  border-bottom: none;
}